@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.75rem;
}

/* Style the default scrollbar */
*::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.15);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(30, 41, 59, 0.8);
  border-radius: 14px;
  border: 3px solid #1e293b;
}

/* hide input type number arrow */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "react-credit-cards-2/dist/es/styles-compiled.css";
